<?xml version="1.0" encoding="UTF-8"?>
<hd:templateProperties xmlns:hd="http://www.hotdocs.com/schemas/template_properties/2015">
	<hd:property name="ASSEMBLY_LOCALE">en-US</hd:property>
	<hd:property name="AUXILIARY_TEMPLATE_ONLY">False</hd:property>
	<hd:property name="COMBINE_DEF_DLGS">True</hd:property>
	<hd:property name="DISABLE_IRRELEVANT_ANSWERS">True</hd:property>
	<hd:property name="ENABLE_EDIT_ANSWER">True</hd:property>
	<hd:property name="GENERATE_DEFAULT_INTERVIEW">True</hd:property>
	<hd:property name="INTERVIEW LOCALE">en-US</hd:property>
	<hd:property name="IRREL_VAR_DEFAULT">HIDE</hd:property>
	<hd:property name="MARK_ANSWER_FIELDS">True</hd:property>
	<hd:property name="POINTED TO CMP">Continuing Compliance Memo</hd:property>
	<hd:property name="TEMPLATE TITLE">Continuing Compliance Memo</hd:property>
	<hd:property name="TEMPLATE_ID">4f1e6dd8-b33a-4203-b3d2-f815b767d6a1</hd:property>
	<hd:property name="USE_INTERVIEW_COMPUTATION">False</hd:property>
</hd:templateProperties>